{
  "openapi": "3.1.0",
  "info": {
    "title": "Firecrawl API",
    "version": "v2",
    "description": "Autogenerated OpenAPI spec for the Firecrawl v2 API (derived from src/routes/v2.ts and src/controllers/v2/types.ts)."
  },
  "servers": [
    {
      "url": "https://api.firecrawl.dev/v2"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Provide your Firecrawl API key as a bearer token."
      }
    },
    "schemas": {
      "ScrapeRequest": {
        "type": "object",
        "properties": {
          "formats": {
            "default": [
              {
                "type": "markdown"
              }
            ],
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "markdown"
                    }
                  },
                  "required": ["type"],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "html"
                    }
                  },
                  "required": ["type"],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "rawHtml"
                    }
                  },
                  "required": ["type"],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "links"
                    }
                  },
                  "required": ["type"],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "images"
                    }
                  },
                  "required": ["type"],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "summary"
                    }
                  },
                  "required": ["type"],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "json"
                    },
                    "schema": {},
                    "prompt": {
                      "type": "string",
                      "maxLength": 10000
                    }
                  },
                  "required": ["type"],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "changeTracking"
                    },
                    "prompt": {
                      "type": "string"
                    },
                    "schema": {},
                    "modes": {
                      "default": [],
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": ["json", "git-diff"]
                      }
                    },
                    "tag": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": ["type"],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "screenshot"
                    },
                    "fullPage": {
                      "type": "boolean"
                    },
                    "quality": {
                      "type": "number",
                      "minimum": 1,
                      "maximum": 100
                    },
                    "viewport": {
                      "type": "object",
                      "properties": {
                        "width": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 7680
                        },
                        "height": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 4320
                        }
                      },
                      "required": ["width", "height"]
                    }
                  },
                  "required": ["type"]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "attributes"
                    },
                    "selectors": {
                      "description": "Extract specific attributes from elements",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "selector": {
                            "description": "CSS selector to find elements",
                            "type": "string"
                          },
                          "attribute": {
                            "description": "Attribute name to extract (e.g., 'data-vehicle-name' or 'id')",
                            "type": "string"
                          }
                        },
                        "required": ["selector", "attribute"],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": ["type", "selectors"],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "branding"
                    }
                  },
                  "required": ["type"],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "query"
                    },
                    "prompt": {
                      "type": "string",
                      "maxLength": 10000
                    }
                  },
                  "required": ["type", "prompt"],
                  "additionalProperties": false
                }
              ]
            }
          },
          "headers": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "string"
            }
          },
          "includeTags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "excludeTags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "onlyMainContent": {
            "default": true,
            "type": "boolean"
          },
          "onlyCleanContent": {
            "type": "boolean"
          },
          "timeout": {
            "type": "integer",
            "minimum": 1000,
            "maximum": 9007199254740991
          },
          "waitFor": {
            "type": "integer",
            "minimum": 0,
            "maximum": 60000
          },
          "mobile": {
            "type": "boolean"
          },
          "parsers": {
            "default": ["pdf"],
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "string",
                  "const": "pdf"
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "pdf"
                    },
                    "mode": {
                      "type": "string",
                      "enum": ["fast", "auto", "ocr"]
                    },
                    "maxPages": {
                      "type": "integer",
                      "exclusiveMinimum": 0,
                      "maximum": 10000
                    }
                  },
                  "required": ["type"],
                  "additionalProperties": false
                }
              ]
            }
          },
          "actions": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "wait"
                    },
                    "milliseconds": {
                      "type": "integer",
                      "exclusiveMinimum": 0,
                      "maximum": 9007199254740991
                    },
                    "selector": {
                      "type": "string"
                    }
                  },
                  "required": ["type"]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "click"
                    },
                    "selector": {
                      "type": "string"
                    },
                    "all": {
                      "type": "boolean"
                    }
                  },
                  "required": ["type", "selector"]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "screenshot"
                    },
                    "fullPage": {
                      "type": "boolean"
                    },
                    "quality": {
                      "type": "number",
                      "minimum": 1,
                      "maximum": 100
                    },
                    "viewport": {
                      "type": "object",
                      "properties": {
                        "width": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 7680
                        },
                        "height": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 4320
                        }
                      },
                      "required": ["width", "height"]
                    }
                  },
                  "required": ["type"]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "write"
                    },
                    "text": {
                      "type": "string"
                    }
                  },
                  "required": ["type", "text"]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "press"
                    },
                    "key": {
                      "type": "string"
                    }
                  },
                  "required": ["type", "key"]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "scroll"
                    },
                    "direction": {
                      "default": "down",
                      "type": "string",
                      "enum": ["up", "down"]
                    },
                    "selector": {
                      "type": "string"
                    }
                  },
                  "required": ["type"]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "scrape"
                    }
                  },
                  "required": ["type"]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "executeJavascript"
                    },
                    "script": {
                      "type": "string"
                    }
                  },
                  "required": ["type", "script"]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "pdf"
                    },
                    "landscape": {
                      "type": "boolean"
                    },
                    "scale": {
                      "default": 1,
                      "type": "number"
                    },
                    "format": {
                      "default": "Letter",
                      "type": "string",
                      "enum": [
                        "A0",
                        "A1",
                        "A2",
                        "A3",
                        "A4",
                        "A5",
                        "A6",
                        "Letter",
                        "Legal",
                        "Tabloid",
                        "Ledger"
                      ]
                    }
                  },
                  "required": ["type"]
                }
              ]
            }
          },
          "location": {
            "type": "object",
            "properties": {
              "country": {
                "type": "string"
              },
              "languages": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "skipTlsVerification": {
            "type": "boolean"
          },
          "removeBase64Images": {
            "default": true,
            "type": "boolean"
          },
          "fastMode": {
            "type": "boolean"
          },
          "useMock": {
            "type": "string"
          },
          "blockAds": {
            "default": true,
            "type": "boolean"
          },
          "proxy": {
            "default": "auto",
            "type": "string",
            "enum": ["basic", "stealth", "enhanced", "auto"]
          },
          "maxAge": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "minAge": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "storeInCache": {
            "default": true,
            "type": "boolean"
          },
          "url": {
            "type": "string",
            "pattern": "^https?:\\/\\/"
          },
          "origin": {
            "default": "api",
            "type": "string"
          },
          "integration": {
            "type": "string"
          },
          "zeroDataRetention": {
            "type": "boolean"
          }
        },
        "required": ["formats", "url"],
        "additionalProperties": false
      },
      "BatchScrapeRequest": {
        "type": "object",
        "properties": {
          "formats": {
            "default": [
              {
                "type": "markdown"
              }
            ],
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "markdown"
                    }
                  },
                  "required": ["type"],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "html"
                    }
                  },
                  "required": ["type"],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "rawHtml"
                    }
                  },
                  "required": ["type"],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "links"
                    }
                  },
                  "required": ["type"],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "images"
                    }
                  },
                  "required": ["type"],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "summary"
                    }
                  },
                  "required": ["type"],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "json"
                    },
                    "schema": {},
                    "prompt": {
                      "type": "string",
                      "maxLength": 10000
                    }
                  },
                  "required": ["type"],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "changeTracking"
                    },
                    "prompt": {
                      "type": "string"
                    },
                    "schema": {},
                    "modes": {
                      "default": [],
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": ["json", "git-diff"]
                      }
                    },
                    "tag": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": ["type"],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "screenshot"
                    },
                    "fullPage": {
                      "type": "boolean"
                    },
                    "quality": {
                      "type": "number",
                      "minimum": 1,
                      "maximum": 100
                    },
                    "viewport": {
                      "type": "object",
                      "properties": {
                        "width": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 7680
                        },
                        "height": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 4320
                        }
                      },
                      "required": ["width", "height"]
                    }
                  },
                  "required": ["type"]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "attributes"
                    },
                    "selectors": {
                      "description": "Extract specific attributes from elements",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "selector": {
                            "description": "CSS selector to find elements",
                            "type": "string"
                          },
                          "attribute": {
                            "description": "Attribute name to extract (e.g., 'data-vehicle-name' or 'id')",
                            "type": "string"
                          }
                        },
                        "required": ["selector", "attribute"],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": ["type", "selectors"],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "branding"
                    }
                  },
                  "required": ["type"],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "query"
                    },
                    "prompt": {
                      "type": "string",
                      "maxLength": 10000
                    }
                  },
                  "required": ["type", "prompt"],
                  "additionalProperties": false
                }
              ]
            }
          },
          "headers": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "string"
            }
          },
          "includeTags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "excludeTags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "onlyMainContent": {
            "default": true,
            "type": "boolean"
          },
          "onlyCleanContent": {
            "type": "boolean"
          },
          "timeout": {
            "type": "integer",
            "minimum": 1000,
            "maximum": 9007199254740991
          },
          "waitFor": {
            "type": "integer",
            "minimum": 0,
            "maximum": 60000
          },
          "mobile": {
            "type": "boolean"
          },
          "parsers": {
            "default": ["pdf"],
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "string",
                  "const": "pdf"
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "pdf"
                    },
                    "mode": {
                      "type": "string",
                      "enum": ["fast", "auto", "ocr"]
                    },
                    "maxPages": {
                      "type": "integer",
                      "exclusiveMinimum": 0,
                      "maximum": 10000
                    }
                  },
                  "required": ["type"],
                  "additionalProperties": false
                }
              ]
            }
          },
          "actions": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "wait"
                    },
                    "milliseconds": {
                      "type": "integer",
                      "exclusiveMinimum": 0,
                      "maximum": 9007199254740991
                    },
                    "selector": {
                      "type": "string"
                    }
                  },
                  "required": ["type"]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "click"
                    },
                    "selector": {
                      "type": "string"
                    },
                    "all": {
                      "type": "boolean"
                    }
                  },
                  "required": ["type", "selector"]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "screenshot"
                    },
                    "fullPage": {
                      "type": "boolean"
                    },
                    "quality": {
                      "type": "number",
                      "minimum": 1,
                      "maximum": 100
                    },
                    "viewport": {
                      "type": "object",
                      "properties": {
                        "width": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 7680
                        },
                        "height": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 4320
                        }
                      },
                      "required": ["width", "height"]
                    }
                  },
                  "required": ["type"]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "write"
                    },
                    "text": {
                      "type": "string"
                    }
                  },
                  "required": ["type", "text"]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "press"
                    },
                    "key": {
                      "type": "string"
                    }
                  },
                  "required": ["type", "key"]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "scroll"
                    },
                    "direction": {
                      "default": "down",
                      "type": "string",
                      "enum": ["up", "down"]
                    },
                    "selector": {
                      "type": "string"
                    }
                  },
                  "required": ["type"]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "scrape"
                    }
                  },
                  "required": ["type"]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "executeJavascript"
                    },
                    "script": {
                      "type": "string"
                    }
                  },
                  "required": ["type", "script"]
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "pdf"
                    },
                    "landscape": {
                      "type": "boolean"
                    },
                    "scale": {
                      "default": 1,
                      "type": "number"
                    },
                    "format": {
                      "default": "Letter",
                      "type": "string",
                      "enum": [
                        "A0",
                        "A1",
                        "A2",
                        "A3",
                        "A4",
                        "A5",
                        "A6",
                        "Letter",
                        "Legal",
                        "Tabloid",
                        "Ledger"
                      ]
                    }
                  },
                  "required": ["type"]
                }
              ]
            }
          },
          "location": {
            "type": "object",
            "properties": {
              "country": {
                "type": "string"
              },
              "languages": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "skipTlsVerification": {
            "type": "boolean"
          },
          "removeBase64Images": {
            "default": true,
            "type": "boolean"
          },
          "fastMode": {
            "type": "boolean"
          },
          "useMock": {
            "type": "string"
          },
          "blockAds": {
            "default": true,
            "type": "boolean"
          },
          "proxy": {
            "default": "auto",
            "type": "string",
            "enum": ["basic", "stealth", "enhanced", "auto"]
          },
          "maxAge": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "minAge": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "storeInCache": {
            "default": true,
            "type": "boolean"
          },
          "urls": {
            "minItems": 1,
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^https?:\\/\\/"
            }
          },
          "origin": {
            "default": "api",
            "type": "string"
          },
          "integration": {
            "type": "string"
          },
          "webhook": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri"
              },
              "headers": {
                "default": {},
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              },
              "metadata": {
                "default": {},
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              },
              "events": {
                "default": ["completed", "failed", "page", "started"],
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": ["completed", "failed", "page", "started"]
                }
              }
            },
            "required": ["url"],
            "additionalProperties": false
          },
          "appendToId": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "ignoreInvalidURLs": {
            "default": true,
            "type": "boolean"
          },
          "maxConcurrency": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "zeroDataRetention": {
            "type": "boolean"
          }
        },
        "required": ["formats", "urls"],
        "additionalProperties": false
      },
      "CrawlRequest": {
        "type": "object",
        "properties": {
          "includePaths": {
            "default": [],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "excludePaths": {
            "default": [],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "maxDiscoveryDepth": {
            "type": "number"
          },
          "limit": {
            "default": 10000,
            "type": "number"
          },
          "crawlEntireDomain": {
            "type": "boolean"
          },
          "allowExternalLinks": {
            "type": "boolean"
          },
          "allowSubdomains": {
            "type": "boolean"
          },
          "ignoreRobotsTxt": {
            "type": "boolean"
          },
          "sitemap": {
            "default": "include",
            "type": "string",
            "enum": ["skip", "include", "only"]
          },
          "deduplicateSimilarURLs": {
            "default": true,
            "type": "boolean"
          },
          "ignoreQueryParameters": {
            "type": "boolean"
          },
          "regexOnFullURL": {
            "type": "boolean"
          },
          "delay": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "url": {
            "type": "string",
            "pattern": "^https?:\\/\\/"
          },
          "origin": {
            "default": "api",
            "type": "string"
          },
          "integration": {
            "type": "string"
          },
          "scrapeOptions": {
            "default": {
              "formats": [
                {
                  "type": "markdown"
                }
              ],
              "onlyMainContent": true,
              "onlyCleanContent": false,
              "waitFor": 0,
              "mobile": false,
              "parsers": ["pdf"],
              "removeBase64Images": true,
              "fastMode": false,
              "blockAds": true,
              "proxy": "auto",
              "storeInCache": true
            },
            "type": "object",
            "properties": {
              "formats": {
                "default": [
                  {
                    "type": "markdown"
                  }
                ],
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "markdown"
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "html"
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "rawHtml"
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "links"
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "images"
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "summary"
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "json"
                        },
                        "schema": {},
                        "prompt": {
                          "type": "string",
                          "maxLength": 10000
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "changeTracking"
                        },
                        "prompt": {
                          "type": "string"
                        },
                        "schema": {},
                        "modes": {
                          "default": [],
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": ["json", "git-diff"]
                          }
                        },
                        "tag": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "screenshot"
                        },
                        "fullPage": {
                          "type": "boolean"
                        },
                        "quality": {
                          "type": "number",
                          "minimum": 1,
                          "maximum": 100
                        },
                        "viewport": {
                          "type": "object",
                          "properties": {
                            "width": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 7680
                            },
                            "height": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 4320
                            }
                          },
                          "required": ["width", "height"]
                        }
                      },
                      "required": ["type"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "attributes"
                        },
                        "selectors": {
                          "description": "Extract specific attributes from elements",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "selector": {
                                "description": "CSS selector to find elements",
                                "type": "string"
                              },
                              "attribute": {
                                "description": "Attribute name to extract (e.g., 'data-vehicle-name' or 'id')",
                                "type": "string"
                              }
                            },
                            "required": ["selector", "attribute"],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": ["type", "selectors"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "branding"
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "query"
                        },
                        "prompt": {
                          "type": "string",
                          "maxLength": 10000
                        }
                      },
                      "required": ["type", "prompt"],
                      "additionalProperties": false
                    }
                  ]
                }
              },
              "headers": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              },
              "includeTags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "excludeTags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "onlyMainContent": {
                "default": true,
                "type": "boolean"
              },
              "onlyCleanContent": {
                "type": "boolean"
              },
              "timeout": {
                "type": "integer",
                "minimum": 1000,
                "maximum": 9007199254740991
              },
              "waitFor": {
                "type": "integer",
                "minimum": 0,
                "maximum": 60000
              },
              "mobile": {
                "type": "boolean"
              },
              "parsers": {
                "default": ["pdf"],
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "string",
                      "const": "pdf"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "pdf"
                        },
                        "mode": {
                          "type": "string",
                          "enum": ["fast", "auto", "ocr"]
                        },
                        "maxPages": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 10000
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    }
                  ]
                }
              },
              "actions": {
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "wait"
                        },
                        "milliseconds": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 9007199254740991
                        },
                        "selector": {
                          "type": "string"
                        }
                      },
                      "required": ["type"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "click"
                        },
                        "selector": {
                          "type": "string"
                        },
                        "all": {
                          "type": "boolean"
                        }
                      },
                      "required": ["type", "selector"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "screenshot"
                        },
                        "fullPage": {
                          "type": "boolean"
                        },
                        "quality": {
                          "type": "number",
                          "minimum": 1,
                          "maximum": 100
                        },
                        "viewport": {
                          "type": "object",
                          "properties": {
                            "width": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 7680
                            },
                            "height": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 4320
                            }
                          },
                          "required": ["width", "height"]
                        }
                      },
                      "required": ["type"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "write"
                        },
                        "text": {
                          "type": "string"
                        }
                      },
                      "required": ["type", "text"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "press"
                        },
                        "key": {
                          "type": "string"
                        }
                      },
                      "required": ["type", "key"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "scroll"
                        },
                        "direction": {
                          "default": "down",
                          "type": "string",
                          "enum": ["up", "down"]
                        },
                        "selector": {
                          "type": "string"
                        }
                      },
                      "required": ["type"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "scrape"
                        }
                      },
                      "required": ["type"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "executeJavascript"
                        },
                        "script": {
                          "type": "string"
                        }
                      },
                      "required": ["type", "script"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "pdf"
                        },
                        "landscape": {
                          "type": "boolean"
                        },
                        "scale": {
                          "default": 1,
                          "type": "number"
                        },
                        "format": {
                          "default": "Letter",
                          "type": "string",
                          "enum": [
                            "A0",
                            "A1",
                            "A2",
                            "A3",
                            "A4",
                            "A5",
                            "A6",
                            "Letter",
                            "Legal",
                            "Tabloid",
                            "Ledger"
                          ]
                        }
                      },
                      "required": ["type"]
                    }
                  ]
                }
              },
              "location": {
                "type": "object",
                "properties": {
                  "country": {
                    "type": "string"
                  },
                  "languages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "skipTlsVerification": {
                "type": "boolean"
              },
              "removeBase64Images": {
                "default": true,
                "type": "boolean"
              },
              "fastMode": {
                "type": "boolean"
              },
              "useMock": {
                "type": "string"
              },
              "blockAds": {
                "default": true,
                "type": "boolean"
              },
              "proxy": {
                "default": "auto",
                "type": "string",
                "enum": ["basic", "stealth", "enhanced", "auto"]
              },
              "maxAge": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "minAge": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "storeInCache": {
                "default": true,
                "type": "boolean"
              }
            },
            "required": ["formats"],
            "additionalProperties": false
          },
          "webhook": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri"
              },
              "headers": {
                "default": {},
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              },
              "metadata": {
                "default": {},
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              },
              "events": {
                "default": ["completed", "failed", "page", "started"],
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": ["completed", "failed", "page", "started"]
                }
              }
            },
            "required": ["url"],
            "additionalProperties": false
          },
          "maxConcurrency": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "zeroDataRetention": {
            "type": "boolean"
          },
          "prompt": {
            "type": "string",
            "maxLength": 10000
          }
        },
        "required": ["url"],
        "additionalProperties": false
      },
      "MapRequest": {
        "type": "object",
        "properties": {
          "includePaths": {
            "default": [],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "excludePaths": {
            "default": [],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "maxDiscoveryDepth": {
            "type": "number"
          },
          "limit": {
            "default": 5000,
            "type": "number",
            "minimum": 1,
            "maximum": 100000
          },
          "crawlEntireDomain": {
            "type": "boolean"
          },
          "allowExternalLinks": {
            "type": "boolean"
          },
          "allowSubdomains": {
            "type": "boolean"
          },
          "ignoreRobotsTxt": {
            "type": "boolean"
          },
          "deduplicateSimilarURLs": {
            "default": true,
            "type": "boolean"
          },
          "regexOnFullURL": {
            "type": "boolean"
          },
          "delay": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "url": {
            "type": "string",
            "pattern": "^https?:\\/\\/"
          },
          "origin": {
            "default": "api",
            "type": "string"
          },
          "integration": {
            "type": "string"
          },
          "includeSubdomains": {
            "default": true,
            "type": "boolean"
          },
          "ignoreQueryParameters": {
            "default": true,
            "type": "boolean"
          },
          "search": {
            "type": "string"
          },
          "sitemap": {
            "default": "include",
            "type": "string",
            "enum": ["only", "include", "skip"]
          },
          "timeout": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "useMock": {
            "type": "string"
          },
          "filterByPath": {
            "default": true,
            "type": "boolean"
          },
          "useIndex": {
            "default": true,
            "type": "boolean"
          },
          "ignoreCache": {
            "type": "boolean"
          },
          "location": {
            "type": "object",
            "properties": {
              "country": {
                "type": "string"
              },
              "languages": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "headers": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": ["url"],
        "additionalProperties": false
      },
      "SearchRequest": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string"
          },
          "limit": {
            "default": 10,
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 100
          },
          "tbs": {
            "type": "string"
          },
          "filter": {
            "type": "string"
          },
          "sources": {
            "default": ["web"],
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": ["web", "images", "news"]
                }
              },
              {
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "web"
                        },
                        "tbs": {
                          "type": "string"
                        },
                        "filter": {
                          "type": "string"
                        },
                        "lang": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "location": {
                          "type": "string"
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "images"
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "news"
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    }
                  ]
                }
              }
            ]
          },
          "categories": {
            "anyOf": [
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": ["github", "research", "pdf"]
                }
              },
              {
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "github"
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "research"
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "pdf"
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    }
                  ]
                }
              }
            ]
          },
          "lang": {
            "default": "en",
            "type": "string"
          },
          "enterprise": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": ["default", "anon", "zdr"]
            }
          },
          "country": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "origin": {
            "default": "api",
            "type": "string"
          },
          "integration": {
            "type": "string"
          },
          "timeout": {
            "default": 60000,
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "ignoreInvalidURLs": {
            "type": "boolean"
          },
          "asyncScraping": {
            "type": "boolean"
          },
          "scrapeOptions": {
            "type": "object",
            "properties": {
              "formats": {
                "default": [],
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "markdown"
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "html"
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "rawHtml"
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "links"
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "images"
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "summary"
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "json"
                        },
                        "schema": {},
                        "prompt": {
                          "type": "string",
                          "maxLength": 10000
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "query"
                        },
                        "prompt": {
                          "type": "string",
                          "maxLength": 10000
                        }
                      },
                      "required": ["type", "prompt"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "screenshot"
                        },
                        "fullPage": {
                          "type": "boolean"
                        },
                        "quality": {
                          "type": "number",
                          "minimum": 1,
                          "maximum": 100
                        },
                        "viewport": {
                          "type": "object",
                          "properties": {
                            "width": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 7680
                            },
                            "height": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 4320
                            }
                          },
                          "required": ["width", "height"]
                        }
                      },
                      "required": ["type"]
                    }
                  ]
                }
              },
              "headers": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              },
              "includeTags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "excludeTags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "onlyMainContent": {
                "default": true,
                "type": "boolean"
              },
              "onlyCleanContent": {
                "type": "boolean"
              },
              "timeout": {
                "type": "integer",
                "minimum": 1000,
                "maximum": 9007199254740991
              },
              "waitFor": {
                "type": "integer",
                "minimum": 0,
                "maximum": 60000
              },
              "mobile": {
                "type": "boolean"
              },
              "parsers": {
                "default": ["pdf"],
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "string",
                      "const": "pdf"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "pdf"
                        },
                        "mode": {
                          "type": "string",
                          "enum": ["fast", "auto", "ocr"]
                        },
                        "maxPages": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 10000
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    }
                  ]
                }
              },
              "actions": {
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "wait"
                        },
                        "milliseconds": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 9007199254740991
                        },
                        "selector": {
                          "type": "string"
                        }
                      },
                      "required": ["type"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "click"
                        },
                        "selector": {
                          "type": "string"
                        },
                        "all": {
                          "type": "boolean"
                        }
                      },
                      "required": ["type", "selector"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "screenshot"
                        },
                        "fullPage": {
                          "type": "boolean"
                        },
                        "quality": {
                          "type": "number",
                          "minimum": 1,
                          "maximum": 100
                        },
                        "viewport": {
                          "type": "object",
                          "properties": {
                            "width": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 7680
                            },
                            "height": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 4320
                            }
                          },
                          "required": ["width", "height"]
                        }
                      },
                      "required": ["type"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "write"
                        },
                        "text": {
                          "type": "string"
                        }
                      },
                      "required": ["type", "text"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "press"
                        },
                        "key": {
                          "type": "string"
                        }
                      },
                      "required": ["type", "key"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "scroll"
                        },
                        "direction": {
                          "default": "down",
                          "type": "string",
                          "enum": ["up", "down"]
                        },
                        "selector": {
                          "type": "string"
                        }
                      },
                      "required": ["type"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "scrape"
                        }
                      },
                      "required": ["type"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "executeJavascript"
                        },
                        "script": {
                          "type": "string"
                        }
                      },
                      "required": ["type", "script"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "pdf"
                        },
                        "landscape": {
                          "type": "boolean"
                        },
                        "scale": {
                          "default": 1,
                          "type": "number"
                        },
                        "format": {
                          "default": "Letter",
                          "type": "string",
                          "enum": [
                            "A0",
                            "A1",
                            "A2",
                            "A3",
                            "A4",
                            "A5",
                            "A6",
                            "Letter",
                            "Legal",
                            "Tabloid",
                            "Ledger"
                          ]
                        }
                      },
                      "required": ["type"]
                    }
                  ]
                }
              },
              "location": {
                "type": "object",
                "properties": {
                  "country": {
                    "type": "string"
                  },
                  "languages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "skipTlsVerification": {
                "type": "boolean"
              },
              "removeBase64Images": {
                "default": true,
                "type": "boolean"
              },
              "fastMode": {
                "type": "boolean"
              },
              "useMock": {
                "type": "string"
              },
              "blockAds": {
                "default": true,
                "type": "boolean"
              },
              "proxy": {
                "default": "auto",
                "type": "string",
                "enum": ["basic", "stealth", "enhanced", "auto"]
              },
              "maxAge": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "minAge": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "storeInCache": {
                "default": true,
                "type": "boolean"
              }
            },
            "required": ["formats"],
            "additionalProperties": false
          }
        },
        "required": ["query"],
        "additionalProperties": false
      },
      "ExtractRequest": {
        "type": "object",
        "properties": {
          "urls": {
            "maxItems": 10,
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^https?:\\/\\/"
            }
          },
          "prompt": {
            "type": "string",
            "maxLength": 10000
          },
          "systemPrompt": {
            "type": "string",
            "maxLength": 10000
          },
          "schema": {},
          "limit": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "ignoreSitemap": {
            "type": "boolean"
          },
          "includeSubdomains": {
            "default": true,
            "type": "boolean"
          },
          "allowExternalLinks": {
            "type": "boolean"
          },
          "enableWebSearch": {
            "type": "boolean"
          },
          "scrapeOptions": {
            "type": "object",
            "properties": {
              "formats": {
                "default": [
                  {
                    "type": "markdown"
                  }
                ],
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "markdown"
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "html"
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "rawHtml"
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "links"
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "images"
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "summary"
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "json"
                        },
                        "schema": {},
                        "prompt": {
                          "type": "string",
                          "maxLength": 10000
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "changeTracking"
                        },
                        "prompt": {
                          "type": "string"
                        },
                        "schema": {},
                        "modes": {
                          "default": [],
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": ["json", "git-diff"]
                          }
                        },
                        "tag": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "screenshot"
                        },
                        "fullPage": {
                          "type": "boolean"
                        },
                        "quality": {
                          "type": "number",
                          "minimum": 1,
                          "maximum": 100
                        },
                        "viewport": {
                          "type": "object",
                          "properties": {
                            "width": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 7680
                            },
                            "height": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 4320
                            }
                          },
                          "required": ["width", "height"]
                        }
                      },
                      "required": ["type"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "attributes"
                        },
                        "selectors": {
                          "description": "Extract specific attributes from elements",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "selector": {
                                "description": "CSS selector to find elements",
                                "type": "string"
                              },
                              "attribute": {
                                "description": "Attribute name to extract (e.g., 'data-vehicle-name' or 'id')",
                                "type": "string"
                              }
                            },
                            "required": ["selector", "attribute"],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": ["type", "selectors"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "branding"
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "query"
                        },
                        "prompt": {
                          "type": "string",
                          "maxLength": 10000
                        }
                      },
                      "required": ["type", "prompt"],
                      "additionalProperties": false
                    }
                  ]
                }
              },
              "headers": {
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              },
              "includeTags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "excludeTags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "onlyMainContent": {
                "default": true,
                "type": "boolean"
              },
              "onlyCleanContent": {
                "type": "boolean"
              },
              "timeout": {
                "type": "integer",
                "minimum": 1000,
                "maximum": 9007199254740991
              },
              "waitFor": {
                "type": "integer",
                "minimum": 0,
                "maximum": 60000
              },
              "mobile": {
                "type": "boolean"
              },
              "parsers": {
                "default": ["pdf"],
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "string",
                      "const": "pdf"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "pdf"
                        },
                        "mode": {
                          "type": "string",
                          "enum": ["fast", "auto", "ocr"]
                        },
                        "maxPages": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 10000
                        }
                      },
                      "required": ["type"],
                      "additionalProperties": false
                    }
                  ]
                }
              },
              "actions": {
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "wait"
                        },
                        "milliseconds": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 9007199254740991
                        },
                        "selector": {
                          "type": "string"
                        }
                      },
                      "required": ["type"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "click"
                        },
                        "selector": {
                          "type": "string"
                        },
                        "all": {
                          "type": "boolean"
                        }
                      },
                      "required": ["type", "selector"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "screenshot"
                        },
                        "fullPage": {
                          "type": "boolean"
                        },
                        "quality": {
                          "type": "number",
                          "minimum": 1,
                          "maximum": 100
                        },
                        "viewport": {
                          "type": "object",
                          "properties": {
                            "width": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 7680
                            },
                            "height": {
                              "type": "integer",
                              "exclusiveMinimum": 0,
                              "maximum": 4320
                            }
                          },
                          "required": ["width", "height"]
                        }
                      },
                      "required": ["type"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "write"
                        },
                        "text": {
                          "type": "string"
                        }
                      },
                      "required": ["type", "text"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "press"
                        },
                        "key": {
                          "type": "string"
                        }
                      },
                      "required": ["type", "key"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "scroll"
                        },
                        "direction": {
                          "default": "down",
                          "type": "string",
                          "enum": ["up", "down"]
                        },
                        "selector": {
                          "type": "string"
                        }
                      },
                      "required": ["type"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "scrape"
                        }
                      },
                      "required": ["type"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "executeJavascript"
                        },
                        "script": {
                          "type": "string"
                        }
                      },
                      "required": ["type", "script"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "const": "pdf"
                        },
                        "landscape": {
                          "type": "boolean"
                        },
                        "scale": {
                          "default": 1,
                          "type": "number"
                        },
                        "format": {
                          "default": "Letter",
                          "type": "string",
                          "enum": [
                            "A0",
                            "A1",
                            "A2",
                            "A3",
                            "A4",
                            "A5",
                            "A6",
                            "Letter",
                            "Legal",
                            "Tabloid",
                            "Ledger"
                          ]
                        }
                      },
                      "required": ["type"]
                    }
                  ]
                }
              },
              "location": {
                "type": "object",
                "properties": {
                  "country": {
                    "type": "string"
                  },
                  "languages": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "skipTlsVerification": {
                "type": "boolean"
              },
              "removeBase64Images": {
                "default": true,
                "type": "boolean"
              },
              "fastMode": {
                "type": "boolean"
              },
              "useMock": {
                "type": "string"
              },
              "blockAds": {
                "default": true,
                "type": "boolean"
              },
              "proxy": {
                "default": "auto",
                "type": "string",
                "enum": ["basic", "stealth", "enhanced", "auto"]
              },
              "maxAge": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "minAge": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "storeInCache": {
                "default": true,
                "type": "boolean"
              }
            },
            "required": ["formats"],
            "additionalProperties": false
          },
          "origin": {
            "default": "api",
            "type": "string"
          },
          "integration": {
            "type": "string"
          },
[...]
